<%= form_with(model: commission_setting,  local: false) do |form| %>
	<div class="modal-body">
		<ul class="errors">
			<% commission_setting.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
		<div class="form-group">
			<%= form.label "Pourcentage commission" %>
			<%= form.number_field :commission_percentage, id: :commission_setting_commission_percentage, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= form.label "Pourcentage commission hypoplus" %>
			<%= form.number_field :hypoplus_commission_percentage, id: :commission_setting_hypoplus_commission_percentage, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= form.label "Nombre d'écheance" %>
			<%= form.number_field :number_of_dates, id: :commission_setting_number_of_dates, class: "form-control" %>
		</div>
		<div class="form-group">
			<%= form.label "Première tranche" %>
			<%= form.number_field :first_installment, id: :commission_setting_first_installment, class: "form-control" %>
		</div>
		
		<div class="form-group">
			
			<%= form.hidden_field :user_id, id: :commission_setting_user_id, value: params[:user] if params[:user].present? %>
		</div>
		<div class="warning alert alert-danger">
			ATTENTION, le pourcentage de commission, est fixé annuellement. <br />
			Aucun rétro calcul ne sera effectué lorsque vous modifier ce pourcentage.
		</div>
	</div><!-- modal body -->
	<div class="modal-footer">
		<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
		<%= form.submit class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
	</div>
<% end %>
