<div class="container">

    <section class="content-header">
        <h1>
            Rechercher         
                    
        </h1>
	</section>
	
    <section class="content">
        <div class="row">
            <div class="col-md-12">
            	<div class="panel panel-default">
					  <div class="panel-body">
					  <%= form_with url: research_path, method: :get, local: false , class: "form-inlinee" do |f| %>
							<div class="row">	
								<div class="col-xs-2">
									<div class="form-group">
										
										<%= f.text_field :production_date, id: :production_date, placeholder: "Date production", class: "form-control " %>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<%= f.text_field :acte_date, id: :acte_date, placeholder: "Date acte ", class: "form-control " %>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<%= f.text_field :bank, id: :bank, placeholder: "Banque ", class: "form-control " %>
										<%= f.select :bank,
										User.all.map { |u| [u.name, u.id] },
													 { include_blank: true },
													 { class: 'chosen-select' }
									  %>
										</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<%= f.text_field :contributor, id: :contributor, placeholder: "Apporteur ", class: "form-control " %>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<%= f.text_field :producer, id: :producer, placeholder: "Producteur ", class: "form-control " %>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="form-group">
										<%= f.text_field :notary, id: :notary, placeholder: "Notaire", class: "form-control" %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group search-btn">
										<%= f.submit "Rechercher", class: "btn btn-sm btn-primary" %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
              		<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
						
									<th>Montant empruntés</th>
									<th>Banque</th>
									<th>Apporteur</th>
									<th>Pourcentage commission apporteur</th>
									<th>Commission apporteur</th>
									<th>Producteur</th>
									<th>Pourcentage commission producteur</th>
									<th>Commission producteur</th>
									<th>Pourcentage commission ACRES</th>
									<th>Commission totale banque</th>
									<th>Commission nette ACRES</th>
									<th style="width: 40px"></th>
									<th style="width: 40px"></th>
								</tr>
							</thead>
							<tbody>
								<% @credits.each do |credit| %>
									<tr>
									
										<td><%= credit.amount %></td>
										<td><%= credit.bank_name %></td>
										<td><%= credit.producer_name %></td>
										<td><%= credit.contributor_name %></td>
										<td><%= credit.producer_name %></td>
										<td><%= credit.notary_name %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
            		<div>
      			</div>    
    		</div>
  		</div>  
	</section>
</div>


