<div class="container">

    <section class="content-header">
        <h1>
            Rechercher         
                    
        </h1>
	</section>
	
    <section class="content">
        <div class="row">
            <div class="col-md-12">
            	<div class="panel panel-default">
              		<div class="panel-body">
                        <%= form_with url: search_path, method: :get, local: false , class: "form-inlinee" do |f| %>
                            <div class="row lr-margin">	
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <%= f.label "Date production" %>
                                        <%= f.date_field :production_date, id: :production_date, class: "form-control " %>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <%= f.label "Date acte" %>
                                        <%= f.date_field :acte_date, id: :acte_date, class: "form-control " %>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <%= f.label "Banque" %>
                                        <%= f.collection_select(:bank, @banks, :name, :name , {prompt: "Banque"}, {class: "form-control chosen-select", multiple: true, "data-placeholder": 'Vélectionner une option'}) %>

                                        </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <%= f.label "Apporteur" %>
                                        <%= f.collection_select(:contributor, @contributors, :full_name, :full_name, {prompt: "Apporteurs"}, {class: "form-control chosen-select", multiple: true, "data-placeholder": 'Vélectionner une option'}) %>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <%= f.label "Producteur" %>
                                        <%= f.collection_select(:producer, @producers, :full_name, :full_name, {prompt: "Producteurs"}, {class: "form-control chosen-select", multiple: true, "data-placeholder": 'Vélectionner une option'}) %>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <%= f.label "Notaire" %>
                                        <%= f.collection_select(:notary, @notaries, :full_name, :full_name, {include_blank: true }, class: "form-control") %>
                                    </div>
                                </div>
                            </div>

                            <div class="row lr-margin">
                                <div class="col-md-12">
                                    <div class="form-group search-btn">
                                        <%= f.submit "Rechercher", class: "btn btn-sm btn-primary" %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>

                <div class="export ">
                    <p>
                    </p>
                    </div>
                <div class="panel panel-default">
              	    <div class="panel-body">
                        <table id="table-list" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                        
                                    <th>Montant empruntés</th>
                                    <th>Banque</th>
                                    <th>Apporteur</th>
                                    <th>Pourcentage commission apporteur</th>
                                    <th>Commission apporteur</th>
                                    <th>Producteur</th>
                                    <th>Pourcentage commission producteur</th>
                                    <th>Commission producteur</th>
                                    <th>Pourcentage commission <%= current_user.company.name if current_user.company.present? %></th>
                                    <th>Commission totale banque</th>
                                    <th>Commission nette <%= current_user.company.name if current_user.company.present? %></th>
                                   
                                </tr>
                            </thead>
                            <tbody class="search-result">
                                <%= render("search/partials/results") %>
                            </tbody>
                           
                        </table>
            	    <div>
      		    </div>    
    	    </div>
  	    </div>  
	</section>
</div>


