<% if @credit_details.present? %>
<% @credit_details.each do |credit_detail| %>
  <tr>
      <td><%= credit_detail.id %></td>

    <td><%= credit_detail.installment_payment %></td>
    <td><%= credit_detail.installment_date %></td>
    <td class="blue-amount"><%= number_to_currency credit_detail.commission, unit: "", seperator: ",", delimiter: "." %></td>
    <td class="blue-amount"><%= number_to_currency credit_detail.cumulative_amount, unit: "", seperator: ",", delimiter: "." %></td>
    <% if is_admin? %>
		<td><%= credit_detail.paid_by_bank %></td>
		<td><%= credit_detail.paid_to_contributor_or_producer %></td>
    
		<td><%= link_to 'Modifier', edit_credit_detail_path(credit_detail),  remote: true %>
		<%= link_to 'Supprimer', credit_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	</tr>
<% end %>
<% end %>