<%= form_with(model: payment_delay, local: true) do |form| %>
  <div class="modal-body">
    <ul class="errors">

          
        </ul>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label "Paiement de la première tranche" %>
          <%= form.select :first_installment, PaymentDelay::FIRST_INSTALLMENT, {prompt: "Sélectionner"},  class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label "Echéances mensuelles avant paiement" %>
          <%= form.number_field :monthly_deadlines_before_payment, id: :payment_delay_monthly_deadlines_before_payment, class: "form-control", default: 0 %>
        </div>

        <div class="form-group">
          <%= form.label "Paiement des tranches mensuelles" %>
          <%= form.select :monthly_installments, PaymentDelay::MONTHLY_INSTALLMENTS, {prompt: "Sélectionner"}, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
   <div class="modal-footer">
              <%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
              <%= form.submit class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
        </div>
<% end %>
