
<%= form_with(model: bank, local: false) do |form| %>
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-6">
				<ul class="errors">
					<% @bank.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>

				<div class="form-group">
					<%= form.label "Nom" %>
					<%= form.text_field :name, id: :bank_name, class:"form-control", placeholder: "Nom" %>
				</div>

				<div class="form-group">
					<%= form.label :description %>
					<%= form.text_field :description, id: :bank_description,  class:"form-control", placeholder: "Description"  %>
				</div>


				<div class="form-group">
					<%= form.label "Téléphone" %>
					<%= form.text_field :phone, id: :bank_phone,  class:"form-control", placeholder: "Téléphone" %>
				</div>

				<div class="form-group">
					<%= form.label "Adresse" %>
					<%= form.text_field :address, id: :bank_address,  class:"form-control" , placeholder: "Adresse" %>
				</div>
				<div class="form-group">
					<%= form.label "Pourcentage commission (%)" %>
					<%= form.number_field :commission_percentage, id: :bank_commission_percentage,  class:"form-control" %>
				</div>

			</div>

			<div class="col-xs-6">
				

				<div class="form-group">
					<%= form.label "Nombre d'écheance" %>
					<%= form.number_field :number_of_dates, id: :bank_number_of_dates,  class:"form-control" %>
				</div>
				<div class="form-group">
					<%= form.label "Première tranche (%)" %>
					<%= form.number_field :first_installment, id: :bank_first_installment,  class:"form-control" %>
				</div>
				<div class="form-group">
					<%= form.label "Nombre d'écheance restante (%)" %>
					<%= form.number_field :number_of_remaining_days, id: :bank_number_of_remaining_days,  class:"form-control" %>
				</div>

				<div class="form-group">
					<%= form.label "Pourcentage commission hypoplus (%)" %>
					<%= form.number_field :hypoplus_commission_percentage, id: :bank_hypoplus_commission_percentage,  class:"form-control" %>
				</div>
				

			</div>
		</div>
	</div><!-- modal body -->
	<div class="modal-footer">
		<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
		<%= form.submit class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
	</div>
<% end %>