
<%= form_with(model: bank, local: false) do |form| %>
	<div class="modal-body">
		<ul class="errors">
			<% @bank.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
		<!--
		<div class="warning alert alert-danger">
			ATTENTION, le pourcentage de commission, est fixé annuellement. <br />
			Aucun rétrocalcul ne sera effectué lorsque vous modifiez ce pourcentage.
		</div> -->

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<%= form.label "Nom" %>
					<%= form.text_field :name, id: :bank_name, class:"form-control", placeholder: "Nom" %>
				</div>

				

				

			</div>
			
		</div>
	</div><!-- modal body -->
	<div class="modal-footer">
		<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
		<%= form.button "Enregistrer",  class: "btn btn-warning",  data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Traitement encours..."}, autocomplete: "off" %>

	</div>
<% end %>