<% if @banks.present? %>

<% @banks.each do |bank| %>
      <tr>
        <td><%= bank.name %></td>
        <td><%= bank.commission_percentage %></td>
        <td><%= bank.number_of_dates %></td>
        <td><%= bank.first_installment %></td>
        <td><%= bank.number_of_remaining_days %></td>
        <td><%= bank.hypoplus_commission_percentage %></td>
        
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_bank_path(bank), title: "Modifier", remote: true %>
					<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), bank_delete_path(bank.id), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
      </tr>
    <% end %>
    
    <% end %>