
<div class="page login-page d-flex" >
	<div class="container">
    	<div class="form-outer   align-items-center">
			<div class="logo text-uppercase text-center " >
				
			</div>
			<div class="form-inner">
				<h2 class= "form-title text-center">Création du compte manager</h2>

				<%= form_with(model: user, url: create_manager_path, local: true) do |form| %>
					

					 <ul class="errors">

                        <% user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>

					<div class="form-group">
						<%= form.text_field :email, class: "form-control",  placeholder: "E-mail", required: true %>
					</div>

					<div class="form-group">
                        <%= form.label :password %>
                        <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <%= form.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Mot de passe" %>
                    </div>
								
					<div class="form-group">
						<%= form.label :password_confirmation %><br />
						<%= form.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmation du mot de passe" %>
					</div>
					<div class="form-group">
						<%= form.submit "CREER", class: "btn btn-warning btn-block" %>
					</div>
				<% end %>
			</div>
    	</div>
	</div>
</div>