<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Address</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.gender %></td>
        <td><%= customer.address %></td>
        <td><%= customer.city %></td>
        <td><%= customer.country %></td>
        <td><%= customer.phone %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<div class="fixed-action-btn">
  <%= link_to raw('<i class="large material-icons">create</i>'), new_customer_path, class: "btn-floating btn-large red" %>
  
  
</div>
       <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger " href="#modal12" data-toggle="modal">Modal</a>

  <!-- Modal Structure -->
  <div id="modal12" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>