<% if @companies %>
    <% @companies.each do |company| %>
        <tr>
            <td><%= company.name %></td>
            <td><%= company.address %></td>
            <td><%= company.city %></td>
            <td><%= company.country %></td>
            <td><%= company.phone %></td>

            <td>
                <div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_company_path(company), title: "Modifier", remote: true %>
					<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), company_delete_path(company), remote: true, title: "Supprimer", class: "delete" %>
</div>
            </td>
        
        </tr>
    <% end %>
<% end %>