<tr>
<td class="uppercase">Nom</td>
<td ><%= get_admin_company(current_user).name  %></td>
</tr>

<tr>
<td class="uppercase">Adresse</td>
<td><%= get_admin_company(current_user).address  %></td>
</tr>
<tr>
<td class="uppercase">Ville</td>
<td><%= get_admin_company(current_user).city %></td>
</tr>
<tr>
<td class="uppercase">Pays</td>
<td><%= get_admin_company(current_user).country  %></td>
</tr>

<tr>
<td class="uppercase">Téléphone</td>
<td><%= get_admin_company(current_user).phone  %></td>
</tr>