<%= form_with(model: credit, local: true) do |form| %>
  <% if credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :production_date %>
    <%= form.date_select :production_date, id: :credit_production_date %>
  </div>

  <div class="field">
    <%= form.label :acte_date %>
    <%= form.date_select :acte_date, id: :credit_acte_date %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id, id: :credit_customer_id %>
  </div>

  <div class="field">
    <%= form.label :bank_id %>
    <%= form.number_field :bank_id, id: :credit_bank_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :credit_amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
