<%= form_with(model: credit, local: false) do |form| %>
 <div class="modal-body">
		<div class="row">
			<div class="">
				<ul class="errors">
					<% @credit.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<div class="col-xs-5">
				<div class="form-group">
					<%= form.label "N°Dossier" %>
					<%= form.number_field :credit_id, id: :credit_id, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= form.label "Date production" %>
					<%= form.date_field :production_date, id: :credit_production_date, class: "form-control" %>
          		</div>
				<div class="form-group">
					<%= form.label "Date acte" %>
					<%= form.date_field :acte_date, id: :credit_acte_date, class: "form-control" %>
				</div>
				 <div class="form-group">
					<%= form.label "Client" %>
					<%= form.text_field :customer_name, id: :credit_customer_name , class: "form-control" %>
				</div>
				<div class="form-group">
					<%= form.label "Producteur" %>
					<%= form.text_field :producer_name, id: :credit_producer_name , class: "form-control" %>
				</div>
			</div>

			<div class="col-xs-5">
			
				<div class="form-group">
					<%= form.label "Apporteur" %>
					<%= form.text_field :contributor_name, id: :credit_contributor_name , class: "form-control" %>
				</div>

				<div class="form-group">
					<%= form.label "Notaire" %>
					<%= form.text_field :notary_name, id: :credit_notary_name , class: "form-control" %>
				</div>
				<div class="form-group">
					<%= form.label "Banque" %>
					<%= form.text_field :bank_name, id: :credit_bank_name, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= form.label "Montant emprunt" %>
					<%= form.text_field :amount, id: :credit_amount, class: "form-control"  %>
				</div>
			</div>
		</div>
	</div><!-- modal body -->
	<div class="modal-footer">
		<%= link_to "Annuler", "#", class: "btn", data: {dismiss: "modal"} %>
		<%= form.submit "Enregistrer", class: "btn btn-primary",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
	</div>
<% end %>