 <% @credits.each do |credit| %>
      <tr>
        <td><%= credit.credit_id %></td>
         <td><%= credit.customer_name.humanize if credit.customer_name  %></td>
        <td><%= credit.production_date.strftime("%d/%m/%Y") if credit.production_date %></td>
        <td><%= credit.acte_date.strftime("%d/%m/%Y") if credit.acte_date %></td>
       
        <td><%= credit.bank_name.humanize if credit.bank_name  %></td>
        <td class="blue-amount"><%= number_to_currency credit.amount, unit: "", seperator: ",", delimiter: "." %></td>
        <td><%= credit.contributor_name.humanize if credit.contributor_name %></td>
        <td><%= credit.producer_name.humanize if credit.producer_name %></td>
        <td><%= credit.notary_name.humanize if credit.notary_name %></td>
         <% if  controller_name == 'credits' %>
        <td>
         
            <div class="action-buttons">
              <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>'), edit_credit_path(credit), title: "Modifier", remote: true %>
              <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), delete_credit_path(credit), remote: true, title: "Supprimer", class: "delete" %>

            </div>
         
        </td>
         <% end %>
      </tr>
    <% end %>