 <% @credits.each do |credit| %>
      <tr>
        <td><%= credit.identifier %></td>
         <td><%= credit.customer_name.humanize if credit.customer_name  %></td>
        <td data-sort="<%= credit.production_date.strftime("%Y%m%d%H%M%s") if credit.production_date %>"><%= credit.production_date.strftime("%d/%m/%Y") if credit.production_date %></td>
        <td data-sort="<%= credit.acte_date.strftime("%Y%m%d%H%M%s") if credit.acte_date %>"><%= credit.acte_date.strftime("%d/%m/%Y") if credit.acte_date %></td>
       
        <td><%= credit.bank_name.humanize if credit.bank_name  %></td>
        <td class="blue-amount"><%= number_to_currency credit.amount, unit: "", seperator: ",", delimiter: "." %></td>
        <td><%= credit.contributor_name.humanize if credit.contributor_name %></td>
        <td><%= credit.producer_name.humanize if credit.producer_name %></td>
        <td><%= credit.notary_name.humanize if credit.notary_name %></td>
         <% if  controller_name == 'credits' %>
        <td>
          	<% unless closed_excercise?(session[:current_excercise])  %>

              <div class="action-buttons">
                <%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>'), edit_credit_path(credit), title: "Modifier", remote: true %>
                <%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>'), delete_credit_path(credit), remote: true, title: "Supprimer", class: "delete" %>

              </div>
            <% end %>
         
        </td>
         <% end %>
      </tr>
    <% end %>