<p id="notice"><%= notice %></p>

<p>
  <strong>Credit:</strong>
  <%= @first_installment_payment_delay_expired.credit_id %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @first_installment_payment_delay_expired.expiration_date %>
</p>

<p>
  <strong>First installment percentage:</strong>
  <%= @first_installment_payment_delay_expired.first_installment_percentage %>
</p>

<p>
  <strong>Installment:</strong>
  <%= @first_installment_payment_delay_expired.installment %>
</p>

<p>
  <strong>Installment amount:</strong>
  <%= @first_installment_payment_delay_expired.installment_amount %>
</p>

<p>
  <strong>Credit amount:</strong>
  <%= @first_installment_payment_delay_expired.credit_amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @first_installment_payment_delay_expired.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @first_installment_payment_delay_expired.user %>
</p>

<%= link_to 'Edit', edit_first_installment_payment_delay_expired_path(@first_installment_payment_delay_expired) %> |
<%= link_to 'Back', first_installment_payment_delay_expireds_path %>
