 <% @commissions.each do |commission| %>
      <tr>
        <td><%= commission.credit_identifier %></td>
        <td><%= credit_customer_name(commission.credit_identifier).humanize if credit_customer_name(commission.credit_identifier)  %></td>
        <td data-sort="<%= commission.production_date.strftime("%Y%m%d%H%M%s") if commission.production_date %>"><%= commission.production_date.strftime("%d/%m/%Y") if commission.production_date %></td>
        <td data-sort="<%= commission.acte_date.strftime("%Y%m%d%H%M%s") if commission.acte_date %>"><%= commission.acte_date.strftime("%d/%m/%Y") if commission.acte_date %></td>
       
        <td><%= commission.bank_name.humanize if commission.bank_name  %></td>
        <td><%= "#{commission.bank_commission_percentage}%" if commission.bank_name  %></td>

        <td class="blue-amount"><%= number_to_currency commission.amount_credit, unit: "", seperator: ",", delimiter: "." %></td>
        <td><%= commission.contributor_name.humanize if commission.contributor_name %></td>
        <td><%= commission.producer_name.humanize if commission.producer_name %></td>
        <td><%= commission.notary_name.humanize if commission.notary_name %></td>
        
        <td>
         		<% unless closed_excercise?(session[:current_excercise])  %>

              <div class="action-buttons">
                <%= link_to 'Abandon', get_abandon_path(commission.credit_identifier), title: "Abandon de  commission", remote: true %>

              </div>
            <% end %>
         
        </td>
        
      </tr>
    <% end %>