

<div class="container">

<div class="row">
<div class="col-md-12">
<div class="index-heading pull-left">
    <h3>Commissions des apporteurs</h3>
    </div>
<div class="pull-right">

</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">
<table  id="table-list" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Banque</th>
      <th>Apporteur</th>
      <th>Producteur</th>
      <th>Commission apporteur</th>
      <th>Commission producteur</th>
      <th>Commission banque</th>
      <th>Commission <%= current_user.company.name if current_user.company.present? %></th>
      <th>Montant empruntés</th>
     
    </tr>
  </thead>

  <tbody>
    <% @commissions.each do |commission| %>
      <tr>
        <td><%= link_to "#{commission.bank_name}", bank_resume_path(bank_name: commission.bank_name) %></td>
        <td><%= commission.contributor_name %></td>
        <td><%= link_to "#{commission.producer_name}", producer_resume_path(producer_name: commission.producer_name) %></td>
        <td><%= commission.contributor_commission %></td>
        <td><%= commission.producer_commission %></td>
        <td><%= commission.bank_commission %></td>
        <td><%= commission.company_commission %></td>
        <td><%= commission.amount_credit %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>

</div>