<p id="notice"><%= notice %></p>

<p>
  <strong>Bank name:</strong>
  <%= @commission.bank_name %>
</p>

<p>
  <strong>Contributor name:</strong>
  <%= @commission.contributor_name %>
</p>

<p>
  <strong>Producer name:</strong>
  <%= @commission.producer_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @commission.amount %>
</p>

<%= link_to 'Edit', edit_commission_path(@commission) %> |
<%= link_to 'Back', commissions_path %>
