<div class="footer-one">
	<div class="container">
		<div class="row">
			<div class="col-md-3 footer-widget">
				<h4 class="footer-widget-title">Contacts</h4>
				<div class="footer-widget-content">
					<div class="address">
						<span class="widget-icon">
							<i class="fa fa-map-marker" aria-hidden="true"></i>

						</span>
						<span class="widget-content">
							Rue: 12, Porte: 12345, Belgique.
						</span>
					</div>
					<div class="phone">
						<span class="widget-icon">
							<i class="fa fa-phone" aria-hidden="true"></i>

						</span>
						<span class="widget-content">
							0474 58 03 29
						</span>
					</div>
					<div class="email">
						<span class="widget-icon">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>

						</span>
						<span class="widget-content">
							yves.leulier@cosmopol.be
						</span>
					</div>
					<div class="website">
						<span class="widget-icon">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</span>
						<span class="widget-content">
							www.informatique-courtiers.be
						</span>
					</div>
					
				</div>
			</div>
			<div class="col-md-1 footer-widget">
			</div>
            <div class="col-md-1 footer-widget">
			</div>
			<!-- Footer widget 3 -->
			<div class="col-md-2 footer-widget">
				<h4 class="footer-widget-title">Informations</h4>
				<div class="footer-widget-content">
					<ul>
						<li><%= link_to "Services", root_path %></li>
						<li><%= link_to "Contact", root_path %></li>
						<li><%= link_to "CGU", root_path %></li>
						<li><%= link_to "Politique de confidentialité", root_path %></li>
					</ul>
				</div>
			</div><!-- end -->
			<div class="col-md-1 footer-widget">
			</div>	
			<!-- Footer widget 4 -->
			<div class="col-md-2 footer-widget">
				<h4 class="footer-widget-title">Développé par:</h4>
				<div class="footer-widget-content">
					<ul class="author-brand">
						<%= image_tag "logo-cosmopol.png" %>
					
						
					</ul>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-6 footer-copyright">
				&copy; 2019 COSMOPOL - Tous droits réservés.
			</div>

			<div class="col-md-6">
				<div class="social-link">
					<div class="text-center">
	                
	                
	                <a href="#" class="btn btn-social-icon btn-facebook" target="_blank"><i class="fa fa-facebook"></i>
	                </a>
	              
	                
	                <a href="#" class="btn btn-social-icon btn-google" target="_blank"><i class="fa fa-google-plus"></i>
	                </a>

	                <a href="#" class="btn btn-social-icon btn-instagram" target="_blank"><i class="fa fa-instagram"></i></a>

	                <a href="#" class="btn btn-social-icon btn-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
	               
	                <a href="#" class="btn btn-social-icon btn-twitter" target="_blank"><i class="fa fa-twitter"></i></a>
	                
	              </div>
				</div>
			</div>

		</div>

	</div>
</div>

