<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @producer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @producer.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @producer.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @producer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @producer.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @producer.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @producer.country %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @producer.notes %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
