<p id="notice"><%= notice %></p>

<p>
  <strong>Date effet:</strong>
  <%= @bank_commission_edition.date_effet %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @bank_commission_edition.completed %>
</p>

<%= link_to 'Edit', edit_bank_commission_edition_path(@bank_commission_edition) %> |
<%= link_to 'Back', bank_commission_editions_path %>
