<%= form_with(model: log, local: true) do |form| %>
  <% if log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :file_name %>
    <%= form.text_field :file_name, id: :log_file_name %>
  </div>

  <div class="field">
    <%= form.label :no_record %>
    <%= form.text_field :no_record, id: :log_no_record %>
  </div>

  <div class="field">
    <%= form.label :error %>
    <%= form.text_field :error, id: :log_error %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :log_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
