<%= form_with(model: contributor, local: true) do |form| %>
  <% if contributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contributor.errors.count, "error") %> prohibited this contributor from being saved:</h2>

      <ul>
      <% contributor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :contributor_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :contributor_last_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :contributor_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :contributor_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contributor_email %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :contributor_city %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :contributor_country %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :contributor_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
