<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contributor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contributor.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @contributor.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contributor.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contributor.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @contributor.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contributor.country %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @contributor.notes %>
</p>

<%= link_to 'Edit', edit_contributor_path(@contributor) %> |
<%= link_to 'Back', contributors_path %>
