<% if @commissions.present? %>


         

    <% @commissions.each do |commission| %>
        <tr>
        
            <td><%= commission.amount_credit %></td>
            <% if commission.bank_name.present? %>
                <td><%= link_to "#{commission.bank_name}", bank_resume_path(bank_name: commission.bank_name) %></td>
                <% else %>
                <td></td>
                <% end %>

            <% if commission.contributor_name.present? %>
                <td><%= link_to "#{commission.contributor_name}", contributor_resume_path(contributor_name: commission.contributor_name) %></td>
                <% else %>
                <td></td>
                <% end %>

            <td><%= commission.contributor_commission_percentage %></td>
            <td><%= commission.contributor_commission %></td>

            <% if commission.producer_name.present? %>
                    <td><%= link_to "#{commission.producer_name}", producer_resume_path(producer_name: commission.producer_name) %></td>
                <% else %>
                    <td></td>
            <% end %>

            <td><%= commission.producer_commission_percentage %></td>
            <td><%= commission.producer_commission %></td>

            <td><%= commission.company_commission_percentage %></td>
            <td><%= commission.company_commission %></td>
            <td><%= commission.bank_commission %></td>


            
        </tr>
    <% end %>
<% end %>