<% if @commissions.present? %>
    <% @commissions.each do |commission| %>
        <tr>
        
            <td><%= commission.amount_credit %></td>
            <td><%= commission.bank_name %></td>

            <td><%= commission.contributor_name %></td>
            <td><%= commission.contributor_commission_percentage %></td>
            <td><%= commission.contributor_commission %></td>

            <td><%= commission.producer_name %></td>
            <td><%= commission.producer_commission_percentage %></td>
            <td><%= commission.producer_commission %></td>

            <td><%= commission.company_commission_percentage %></td>
            <td><%= commission.company_commission %></td>
            <td><%= commission.bank_commission %></td>


            
        </tr>
    <% end %>
<% end %>