<div class="search-form">
    <%= form_with url: search_path, method: :get, local: true, class: "form-inlinee" do |f| %>
        <div class="row lr-margin">	
            <div class="row date-section">
                <!-- date row -->
                <div class="col-md-6">
                    <fieldset>
                        <legend>
                            <strong>
                                Date production
                            </strong>
                        </legend>
                        <div class="col-xss-6">
                            <div class="form-group">

                                <%= f.label "Date départ" %>
                                <%= f.date_field :production_date_debut, id: :production_date_debut, class: "form-control ", value: @selected_production_date_debut  %>

                            </div>
                        </div>
                        <div class="col-xss-6">
                            <div class="form-group">

                                <%= f.label "Date fin" %>
                                <%= f.date_field :production_date_fin, id: :production_date_debut, class: "form-control ", value: @selected_production_date_fin  %>

                            </div>
                        </div>
                    </fieldset>
                </div><!-- end date col -->
            
                <div class="col-md-6">
                    <fieldset>
                        <legend><strong>Date acte</strong></legend>
                        <div class="col-mdd-6">
                            <div class="form-group">

                                <%= f.label "Date départ" %>
                                <%= f.date_field :acte_date_debut, id: :acte_date_debut, class: "form-control ", value: @selected_acte_date_debut  %>

                            </div>

                        </div>
                        <div class="col-mdd-6">
                            <div class="form-group">
                                <%= f.label "Date fin" %>

                                <%= f.date_field :acte_date_fin, id: :acte_date_fin, class: "form-control ", value: @selected_acte_date_fin  %>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div><!-- end row -->
            
            <div class="row">
                
                <div class="col-md-6">
                    <div class="form-group collection-check-boxes">
                        <strong><%= f.label "Banque(s)" %></strong><br />
                        <!-- <%= f.collection_check_boxes(:bank, @banks, :name, :name) %> -->
                        
                        <%= f.collection_select(:bank, @banks, :name, :name , {selected: (@selected_banks.map(&:name) if @selected_banks.present?)}, {class: "form-control chosen-select", multiple: true, "data-placeholder": 'Sélectionner une option'}) %> 

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group  collection-check-boxes">
                        <strong><%= f.label "Apporteur(s)" %></strong><br />
                        
                        <!-- <%= f.collection_check_boxes(:contributor, @contributors, :full_name, :full_name) %> -->

                        <%= f.collection_select(:contributor, @contributors, :full_name, :full_name, {selected: (@selected_contributors.map(&:full_name) if @selected_contributors.present?)}, {class: "form-control chosen-select", multiple: true, "data-placeholder": 'Sélectionner une option'}) %> 
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group  collection-check-boxes">
                        <strong><%= f.label "Producteur(s)" %></strong><br />
                        <!-- <%= f.collection_check_boxes(:producer,@producers, :full_name, :full_name) %> -->

                        <%= f.collection_select(:producer, @producers, :full_name, :full_name, {selected: (@selected_producers.map(&:full_name) if @selected_producers.present?)}, {class: "form-control chosen-select", multiple: true, "data-placeholder": 'Sélectionner une option'}) %> 
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <%= f.label "Notaire" %>
                        <%= f.collection_select(:notary, @notaries, :full_name, :full_name, {prompt:"Selectionner" }, class: "form-control", value: @selected_notary ) %>
                    </div>
                </div>
            </div> 


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group search-btn">
                        <%= f.submit "Rechercher", class: "btn btn-primary btn-block", :id => "search-button" %>
                    </div>
                </div>
            </div>
        </div>

        
    <% end %>
</div>