 <tr>
                        
    <td class="blue-amount"><strong><%= number_to_currency @total_montant_credit, unit: "", seperator: ",", delimiter: "." %></strong></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="hiddable"></td>
    <td class="hiddable blue-amount"><strong><%= number_to_currency @total_commission_apporteur, unit: "", seperator: ",", delimiter: "." %></strong></td>
    <td></td>
    <td class="hiddable "></td>

    <td class="hiddable blue-amount"><strong><%= number_to_currency @total_commission_producteur, unit: "", seperator: ",", delimiter: "." %></strong></td>
    <td class="blue-amount"><strong><%= number_to_currency @total_commission_bank, unit: "", seperator: ",", delimiter: "." %></strong></td>
    <td class="blue-amount"><strong><%= number_to_currency @total_commission_nette_company, unit: "", seperator: ",", delimiter: "." %></strong></td>
    
</tr>