<!DOCTYPE html>
<html>
	<head>

		<% if is_superadmin? || is_manager? %>
			<title><%= "Tableau de bord" %></title>
		<% else %>
			<title><%= "Tableau de bord" %></title>
		<% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
				<%= render 'layouts/partials/google_analytics' %>

  </head>

  <body>
		<div class="wrapper">
		<%= render :partial => 'layouts/partials/flash_messages', :flash => flash %>
	<div id="reset-modal" class="modal fade"></div>
	<div id="backup-modal" class="modal fade"></div>

		<!-- Left Sidebar -->
	  <%= render('layouts/partials/dashboard/sidebar') %>
	   <!-- End Left sidebar -->


	 

	  <!-- Content Wrapper. Contains page content -->
	  <div class="main-panel">
	  		<!-- Left Sidebar -->
			  <%= render('layouts/partials/dashboard/navbar') %>
			   <!-- End Left sidebar -->
				<!-- Left Sidebar -->
			<% if is_superadmin? %>
				<%= render('layouts/partials/smtp_alert') %>
			<% end %>
		<% if is_admin? %>
			
			<%= render('layouts/partials/unregistered_alert') %>
			<%= render('layouts/partials/first_installment_payment_delay_expireds_alert') %>
		<% end %>

	   <!-- End Left sidebar -->
				
	    <%= yield %>
	 

	  <!-- Main Footer -->
	  <%= render('layouts/partials/dashboard/footer') %>
	   <!-- End Main Footer -->
 	</div><!-- /.content-wrapper -->

	</div><!-- ./wrapper -->
  </body>
</html>
