<% @accounts.each do |account| %>
      <tr>
        <td><%= account.company %></td>
        <td><%= account.subdomain %></td>
         <td><%= account.status %></td>
<% unless controller_name == 'dashboard'%>
        <td>
					<div class="action-buttons">
					<%= link_to raw('<i class="fa fa-pencil" aria-hidden="true"></i>
'), edit_account_path(account), title: "Modifier", remote: true %>
					<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i>
'), account_delete_path(account), remote: true, title: "Supprimer", class: "delete" %>
</div>
</td>
<% end %>

      </tr>
    <% end %>